/.github          export-ignore
/build            export-ignore
/tests            export-ignore
.gitattributes    export-ignore
.editorconfig     export-ignore
.gitignore        export-ignore
*.xml             export-ignore
*.neon            export-ignore
*.xml.dist        export-ignore
