parameters:
	ignoreErrors:
		-
			message: "#^Method Biplane\\\\YandexDirect\\\\ApiServiceFactory\\:\\:createService\\(\\) should return T of Biplane\\\\YandexDirect\\\\Soap\\\\ApiSoapClient but returns \\(Biplane\\\\YandexDirect\\\\Api\\\\ApiSoapClientV4&T of Biplane\\\\YandexDirect\\\\Soap\\\\ApiSoapClient\\)\\|T of Biplane\\\\YandexDirect\\\\Soap\\\\ApiSoapClient\\.$#"
			count: 1
			path: src/ApiServiceFactory.php

		-
			message: "#^Method Biplane\\\\YandexDirect\\\\User\\:\\:getProxy\\(\\) should return T but returns Biplane\\\\YandexDirect\\\\Api\\\\V5\\\\Reports\\|Biplane\\\\YandexDirect\\\\Soap\\\\ApiSoapClient\\.$#"
			count: 2
			path: src/User.php

