includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - phpstan-baseline.neon

parameters:
  level: 5
  inferPrivatePropertyTypeFromConstructor: true
  paths:
    - src
    - tests
  excludePaths:
    - src/Api/V4/Contract/*
    - src/Api/V5/Contract/*
