parameters:
	ignoreErrors:
		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Api/V5/Report/ReportResult.php

		-
			message: "#^Method Biplane\\\\YandexDirect\\\\User\\:\\:getProxy\\(\\) should return T but returns Biplane\\\\YandexDirect\\\\Api\\\\ApiSoapClient\\|Biplane\\\\YandexDirect\\\\Api\\\\V5\\\\Reports\\.$#"
			count: 2
			path: src/User.php

