includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - phpstan-baseline.neon

parameters:
  level: 5
  inferPrivatePropertyTypeFromConstructor: true
  paths:
    - src
    - tests
  excludes_analyse:
    - src/Api/V4/*
    - src/Api/V5/*
