- request:
    method: GET
    url: 'https://api.direct.yandex.com/v501/vcards?wsdl='
    headers:
      Client-Login: ''
  response:
    status:
      code: '200'
      message: OK
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\n                  xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"\n                  xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n                  xmlns:general=\"http://api.direct.yandex.com/v5/general\"\n                  xmlns:ns=\"http://api.direct.yandex.com/v5/vcards\"\n                  name=\"VCards\"\n                  targetNamespace=\"http://api.direct.yandex.com/v5/vcards\">\n    <wsdl:types>\n        <xsd:schema targetNamespace=\"http://api.direct.yandex.com/v5/vcards\">\n            <xsd:import namespace=\"http://api.direct.yandex.com/v5/general\" schemaLocation=\"https://soap.direct.yandex.ru/v501/general.xsd\" />\n            <xsd:simpleType name=\"VCardFieldEnum\">\n                <xsd:restriction base=\"xsd:string\">\n                    <xsd:enumeration value=\"Id\"/>\n                    <xsd:enumeration value=\"Country\"/>\n                    <xsd:enumeration value=\"City\"/>\n                    <xsd:enumeration value=\"Street\"/>\n                    <xsd:enumeration value=\"House\"/>\n                    <xsd:enumeration value=\"Building\"/>\n                    <xsd:enumeration value=\"Apartment\"/>\n                    <xsd:enumeration value=\"CompanyName\"/>\n                    <xsd:enumeration value=\"ExtraMessage\"/>\n                    <xsd:enumeration value=\"ContactPerson\"/>\n                    <xsd:enumeration value=\"ContactEmail\"/>\n                    <xsd:enumeration value=\"MetroStationId\"/>\n                    <xsd:enumeration value=\"CampaignId\"/>\n                    <xsd:enumeration value=\"Ogrn\"/>\n                    <xsd:enumeration value=\"WorkTime\"/>\n                    <xsd:enumeration value=\"InstantMessenger\"/>\n                    <xsd:enumeration value=\"Phone\"/>\n                    <xsd:enumeration value=\"PointOnMap\"/>\n                </xsd:restriction>\n            </xsd:simpleType>\n            <xsd:complexType name=\"Phone\">\n                <xsd:sequence>\n                    <xsd:element name=\"CountryCode\" type=\"xsd:string\" minOccurs=\"1\" maxOccurs=\"1\"/>\n                    <xsd:element name=\"CityCode\" type=\"xsd:string\" minOccurs=\"1\" maxOccurs=\"1\"/>\n                    <xsd:element name=\"PhoneNumber\" type=\"xsd:string\" minOccurs=\"1\" maxOccurs=\"1\"/>\n                    <xsd:element name=\"Extension\" type=\"xsd:string\" minOccurs=\"0\" maxOccurs=\"1\"/>\n                </xsd:sequence>\n            </xsd:complexType>\n            <xsd:complexType name=\"I[...]
- request:
    method: GET
    url: 'https://soap.direct.yandex.ru/v501/general.xsd'
    headers:
      Client-Login: ''
  response:
    status:
      code: '200'
      message: OK
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xsd:schema xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:general=\"http://api.direct.yandex.com/v5/general\" targetNamespace=\"http://api.direct.yandex.com/v5/general\">\n    <xsd:complexType name=\"ArrayOfString\">\n        <xsd:sequence>\n            <xs[...]
- request:
    method: POST
    url: 'https://soap.direct.yandex.ru/v501/vcards'
    headers:
      Content-Type: 'text/xml; charset=utf-8;'
      SOAPAction: 'https://api.direct.yandex.com/v5/vcards/add'
      Client-Login: ''
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SOAP-ENV:Envelope xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:ns1=\"http://api.direct.yandex.com/v5/vcards\"><SOAP-ENV:Body><ns1:AddRequest><VCards><CampaignId/><Country/><City/><CompanyName/><WorkTime/><Phone/><PointOnMap><X>37.69</X><Y>55.711747</Y><X1>-37.69</X1><Y1>55.71</Y1><X2>90</X2><Y2>-55.71</Y2></PointOnMap></VCards></ns1:AddRequest></SOAP-ENV:Body></SOAP-ENV:Envelope>\n"
  response:
    status:
      code: '200'
      message: OK
    body: '<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><SOAP-ENV:Fault><faultcode>SOAP-ENV:Client</faultcode><faultstring>Invalid request</faultstring><detail><ns3:FaultResponse xmlns:ns3="http://api.direct.yandex.com/v5/general"><requestId>1670008794873972340</requestId><errorCode>8000</errorCode><errorDetail>The required field CampaignId is omitted in an item in the VCards array</errorDetail></ns3:FaultResponse></detail></SOAP-ENV:Fault></SOAP-ENV:Body></SOAP-ENV:Envelope>'
